employee_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="personalInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="firstName"/>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:date" name="dateOfBirth"/>
                    <xs:element type="xs:string" name="gender"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="employmentInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="position"/>
                    <xs:element type="xs:int" name="salary"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="contactInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="phoneNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>